.slider{
    width: 100%;
	position: relative;
	height: auto;
    padding: 30px 0;

    @media(min-width:1199px){
        padding: 60px 0 ;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
    }

    &--prev{
		position: absolute;
        left: 0px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;

		img{
			width: 30px;
		}

	}

	&--next{
		position: absolute;
        right: 0px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		img{
			width: 30px;
		}

	}

    &__carrousel{
        width: 100%;

        &__item{
            width: 50%;

            @media(min-width: 1199px){
                width: 250px;
            }
        }

    }

}

.swiper{
	width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100%;

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            position: relative;
            width: 100%;
            margin: auto;
            bottom: 0;
            
            @media(min-width:1199px){
                width: 50%;
                display: none;
            }
        }

        .swiper-pagination-bullet{
            width: 30px;
            height: 4px;
            border-radius: 0;
            background-color: $aqua_haze;
            opacity: 1;
            border-radius: 10px;
        }

        .swiper-pagination-bullet-active {
            border-radius: none;
            background-color: $flame;
            border: 1px solid $flame;
            border-radius: 10px;
            
        }

		.swiper-slide{
            margin: auto;
            width: 100% !important;
            height: 100%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center; 

            @media(min-width: 992px){
                width: 33.33% !important;
            }
		}
}